<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="utf-8">
    <!-- See configuration in WebMvConfig.java -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/images/favicon.ico" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">

                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/importer}">Importer</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Etat(s)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" th:href="@{/reporting}">Rapport de synthèse</a>
                        <a class="dropdown-item"  th:href="@{/reporting-str}">Impressions par structure</a>
                        <a class="dropdown-item"  th:href="@{/reporting-indiv}">Impressions par Utilisateur</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"  th:href="@{/reporting-anal-comp}">Analyse comparative</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Configurations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/imprimantes}">Imprimantes</a>
                        <a class="dropdown-item"  th:href="@{/users}">Utilisateurs</a>
                        <a class="dropdown-item"  th:href="@{/structures}">Structures</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/configuration}">Configuration</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>