<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Printers history</title>
    <!--
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/jquery.min.js}"></script>
</head>

<body>

<header th:insert="fragments/header.html :: header"> </header>

<main role="main" class="container">

</main>

<script th:src="@{/bootstrap.min.js}"></script>
<!-- /.container

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/jquery/1.9.1/jquery.min.js}"></script>
 -->
</body>
</html>