<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Printers History</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  <script th:src="@{/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/loader.js}"></script>
  <script type="text/javascript" th:inline="javascript">
     google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([[${datas}]]);

        var options = {
          chart: {
            title: 'Analyse Comparative Impression par Utilisateur',
            subtitle: ' ',
          },
          bars: 'horizontal', // Required for Material Bar Charts.
          hAxis: {format: 'decimal'},
          height: 800,
          //colors: []
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

        var btns = document.getElementById('btn-group');

        btns.onclick = function (e) {

          if (e.target.tagName === 'BUTTON') {
            options.hAxis.format = e.target.id === 'none' ? '' : e.target.id;
            chart.draw(data, google.charts.Bar.convertOptions(options));
          }
        }
      }
  </script>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main role="main" class="container">
  <div th:insert="fragments/reportingAnalyCompHeader.html :: reportingHeader"></div>
  <section th:if="${search.vueType == 1}">
    <table class="table table-sm table-hover  table-hover">
      <thead>
      <tr>
        <th></th><th></th>
        <th th:each="col: ${headers}" scope="col" th:text="${{col}}"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="data : ${datas}">
        <td th:text="${{data.user.id}}"></td>
        <td th:text="${{data.user.name}}"></td>
        <td th:each="col : ${data.lignes}" th:text="${{col.quantity}}"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section th:if="${search.vueType == 2}">
    <div id="chart_div"></div>
  </section>
</main>
<!-- /.container -->
<script th:src="@{/jquery.min.js}"></script>
<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>