<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Printers History</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/jquery.min.js}"></script>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main role="main" class="container">
    <form th:action="@{/importer}" th:object="${data}"  method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="printers">Email address</label>
            <select id="printers" class="form-control form-control-sm" th:field="*{printer}">
                <option th:each="prt : ${printers}"
                        th:text="${prt.name}"
                        th:value="${prt.id}">Large select</option>
            </select>
        </div>
        <div class="row">
            <div class="col">
                <label for="exampleFormControlFile1">Premier fichier</label>
                <input type="file" class="form-control-file"
                       id="exampleFormControlFile1"
                       th:field="*{files}" multiple="multiple" accept="text/csv">
            </div>
            <div class="col">
                <label for="exampleFormControlFile2">Second fichier</label>
                <input type="file" class="form-control-file"
                       id="exampleFormControlFile2" accept="text/csv"
                       th:field="*{files}" multiple="multiple">
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top: 40px;">Sauvegarder</button>
    </form>

</main>
<!-- /.container -->
<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>