<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Printers History</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/jquery.min.js}"></script>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main role="main" class="container">
    <div th:insert="fragments/reportingHeader.html :: reportingHeader"></div>
    <section>
        <table class="table table-sm table-hover table-hover">
            <thead>
            <tr>
                <th scope="col">Service</th>
                <th scope="col">Nom Service</th>
                <th scope="col">Total impression</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${datas}">
                <td th:text="${{data.structure.code}}"></a></td>
                <td th:text="${{data.structure.intitule}}"></td>
                <td th:text="${{data.output}}"></a></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<!-- /.container -->
<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>