<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Printers History</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  <script th:src="@{/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/loader.js}"></script>
  <script type="text/javascript" th:inline="javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Printer');
            data.addColumn('number', 'Quantity');
            data.addRows([[${datas}]]);
            // Set chart options
            var options = {'title':'Impressions par Services',
                'width':800,
                'height':500};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main role="main" class="container">
  <div th:insert="fragments/reportingStructureHeader.html :: reportingHeader"></div>
  <section th:if="${search.groupBy == 1 && search.vueType == 1}">
    <table class="table table-sm table-hover  table-hover">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Total impression</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="data : ${datas}">
        <td th:text="${{data.user.id}}"></td>
        <td th:text="${{data.user.name}}"></td>
        <td th:text="${{data.output}}"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section th:if="${search.groupBy == 2 && search.vueType == 1}">
    <table class="table table-sm table-hover  table-hover">
      <thead>
      <tr>
        <th scope="col">Service</th>
        <th scope="col">Nom Service</th>
        <th scope="col">Total impression</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="data : ${datas}">
        <td th:text="${{data.service.code}}"></td>
        <td th:text="${{data.service.intitule}}"></td>
        <td th:text="${{data.output}}"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section th:if="${search.vueType == 2}">
    <div id="chart_div"></div>
  </section>
</main>
<!-- /.container -->
<script th:src="@{/jquery.min.js}"></script>
<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>